# DSCI 503 - Homework 2
### Jeffery Boczkaja

## Problem 1: Alternating Lists

In [1]:
employees = ['Beth', 'Fred', 'Drew', 'Alex', 'Emma', 'Chad']
years = [15, 11, 8, 5, 4, 2]

In [2]:
employees.insert(1, 'Gina')
employees.insert(5, 'Herb')
years.insert(1,12)
years.insert(5,3)
employees.append('Iris')
years.append(0)

In [3]:
print(employees)
print(years)

['Beth', 'Gina', 'Fred', 'Drew', 'Alex', 'Herb', 'Emma', 'Chad', 'Iris']
[15, 12, 11, 8, 5, 3, 4, 2, 0]

In [4]:
del employees[2]
del years[2]

In [5]:
print(employees)
print(years)

['Beth', 'Gina', 'Drew', 'Alex', 'Herb', 'Emma', 'Chad', 'Iris']
[15, 12, 8, 5, 3, 4, 2, 0]

In [6]:
del employees[5]
del years[5]
employees.insert(3, 'Emma')
years.insert(3, 6)

In [7]:
print(employees)
print(years)

['Beth', 'Gina', 'Drew', 'Emma', 'Alex', 'Herb', 'Chad', 'Iris']
[15, 12, 8, 6, 5, 3, 2, 0]

## Problem 2:Sorting and Slicing Lists

In [8]:
import random
random.seed(12)
random_list = random.sample(range(500), 99)

In [9]:
r_list = "Length of random_list: {}".format(len(random_list))
print(r_list)
first10 = "First 10 Elements of random_list: {}".format(random_list[:10])
print(first10)

Length of random_list: 99
First 10 Elements of random_list: [242, 137, 336, 270, 341, 179, 73, 195, 5, 191]

In [10]:
sum_list = "The sum of the elements in random list is {}".format(sum(random_list))
print(sum_list)

The sum of the elements in random list is 23739

In [11]:
sorted_list = sorted(random_list)
sorted_list2 = ("First 10 Elements of sorted_list: {}").format(sorted_list[:10])
print(sorted_list2)
first10 = "First 10 Elements of random_list: {}".format(random_list[:10])
print(first10)

First 10 Elements of sorted_list: [0, 5, 9, 15, 26, 30, 31, 38, 42, 44]
First 10 Elements of random_list: [242, 137, 336, 270, 341, 179, 73, 195, 5, 191]

In [12]:
bot_slice = sorted_list[0:32]
mid_slice = sorted_list[33:65]
top_slice = sorted_list[66:98]

In [13]:
bot_small = "The smallest element of bot_slice is {}".format(min(bot_slice))
print(bot_small)
bot_big = "The largest element of bot_slice is {}".format(max(bot_slice))
print(bot_big)
print("")
mid_small = "The smallest element of mid_slice is {}".format(min(mid_slice))
print(mid_small)
mid_big = "The largest element of mid_slice is {}".format(max(mid_slice))
print(mid_big)
print("")
top_small = "The smallest element of top_slice is {}".format(min(top_slice))
print(top_small)
top_big = "The largest element of top_slice is {}".format(max(top_slice))
print(top_big)

The smallest element of bot_slice is 0
The largest element of bot_slice is 172

The smallest element of mid_slice is 179
The largest element of mid_slice is 307

The smallest element of top_slice is 318
The largest element of top_slice is 480

## Problem 3: Calculating Sum of Squared Errors

In [14]:
length = [22.7, 22.4, 25.8, 21.3, 20.1, 22.1, 21.1, 25.3, 26.9, 26.9,
 23.0, 23.8, 26.2, 20.4, 23.0, 21.9, 23.5, 27.8, 25.3, 25.9]
weight = [9.2, 8.8, 10.7, 8.3, 6.2, 8.6, 7.2, 11.2, 10.5, 11.3,
 9.6, 9.9, 10.9, 5.9, 9.5, 9.1, 9.7, 11.6, 10.2, 10.5]

In [15]:
pred_weight = []

for i in range(0, len(length)):
    temp = round(.6 * length[i] - 5.2,2)
    pred_weight.append(temp)

In [16]:
print(pred_weight)

[8.42, 8.24, 10.28, 7.58, 6.86, 8.06, 7.46, 9.98, 10.94, 10.94, 8.6, 9.08, 10.52, 7.04, 8.6, 7.94, 8.9, 11.48, 9.98, 10.34]

In [17]:
SSE =[]

for i in range(0, len(weight)):
    temp = (weight[i] - pred_weight[i])**2
    SSE.append(temp)

In [18]:
round(sum(SSE),4)

10.2236

## Problem 4: Calculating Exam Scores

In [19]:
correct = ['D','B', 'C', 'A', 'C', 'D', 'A', 'C', 'C', 'B', 'D', 'A', 'B', 'D', 'C', 'D', 'C', 'D', 'C', 'A', 'B', 'D', 'C', 'B', 'A']
answers1 = ['A', 'B', 'C', 'A', 'B', 'D', 'A', 'A', 'C', 'B', 'D', 'A', 'D', 'C', 'C', 'B', 'C', 'D', 'B', 'A', 'D', 'D', 'C', 'C', 'A']
answers2 = ['D', 'A', 'C', 'A', 'B', 'D', 'A', 'C', 'C', 'B', 'D', 'A', 'B', 'D', 'A', 'D', 'C', 'D', 'C', 'A', 'B', 'C', 'C', 'B', 'A']

count1= []
count2=[]

for i in range(0, len(correct)):
    temp = answers1[i]==correct[i]
    count1.append(temp)
for i in range(0, len(correct)):
    temp1 = answers2[i]==correct[i]
    count2.append(temp1)
    
sum1 = sum(count1)
sum2 = sum(count2)
grade1 = (sum1/len(correct))*100
grade2 = (sum2/len(correct))*100
student1 = "Student 1 Grade: {}%".format(grade1)
print(student1)
student2 = "Student 2 Grade: {}%".format(grade2)
print(student2)

Student 1 Grade: 64.0%
Student 2 Grade: 84.0%

## Problem 5: Determining Monthly Payments

In [20]:
i=.004
n=360

In [21]:
start=100000
increment=10000

In [22]:
for m in range(100000, 210000, 10000):
    
    for j in range(0,1):
      
        print("A loan of " + "$"+str(m) + " would requires monthly payments of " + "$"+(str(m*(i/(1-(1+i)**-n)))))

A loan of $100000 would requires monthly payments of $524.6653543413344
A loan of $110000 would requires monthly payments of $577.1318897754678
A loan of $120000 would requires monthly payments of $629.5984252096013
A loan of $130000 would requires monthly payments of $682.0649606437346
A loan of $140000 would requires monthly payments of $734.531496077868
A loan of $150000 would requires monthly payments of $786.9980315120015
A loan of $160000 would requires monthly payments of $839.4645669461349
A loan of $170000 would requires monthly payments of $891.9311023802684
A loan of $180000 would requires monthly payments of $944.3976378144018
A loan of $190000 would requires monthly payments of $996.8641732485353
A loan of $200000 would requires monthly payments of $1049.3307086826687

## Problem 6: Creating an Amortization Schedule

In [23]:
balance=160000
i=.004
pmt=839.46

In [24]:
for m in range(12,372,12):
    
    for j in range(0,1):
      
        print("The balance at the end of " + str(m) + " months will be " + "$"+(str(balance*(1+i)-pmt*m)))

The balance at the end of 12 months will be $150566.48
The balance at the end of 24 months will be $140492.96
The balance at the end of 36 months will be $130419.44
The balance at the end of 48 months will be $120345.92
The balance at the end of 60 months will be $110272.4
The balance at the end of 72 months will be $100198.88
The balance at the end of 84 months will be $90125.36
The balance at the end of 96 months will be $80051.84
The balance at the end of 108 months will be $69978.31999999999
The balance at the end of 120 months will be $59904.79999999999
The balance at the end of 132 months will be $49831.28
The balance at the end of 144 months will be $39757.759999999995
The balance at the end of 156 months will be $29684.23999999999
The balance at the end of 168 months will be $19610.72
The balance at the end of 180 months will be $9537.199999999983
The balance at the end of 192 months will be $-536.320000000007
The balance at the end of 204 months will be $-10609.839999999997
The balance at the end of 216 months will be $-20683.360000000015
The balance at the end of 228 months will be $-30756.880000000005
The balance at the end of 240 months will be $-40830.40000000002
The balance at the end of 252 months will be $-50903.92000000001
The balance at the end of 264 months will be $-60977.44
The balance at the end of 276 months will be $-71050.96000000002
The balance at the end of 288 months will be $-81124.48000000001
The balance at the end of 300 months will be $-91198.0
The balance at the end of 312 months will be $-101271.52000000002
The balance at the end of 324 months will be $-111345.04000000004
The balance at the end of 336 months will be $-121418.56
The balance at the end of 348 months will be $-131492.08000000002
The balance at the end of 360 months will be $-141565.60000000003

## Problem 7: Calculating Price of a Bulk Order

In [25]:
quantities = [84, 100, 126, 150, 186, 200, 216, 248]

In [27]:
listq = []

for i in range(0,1)
   while i < 100
        350*[i]
    while 100<i<201
        300*[i]
    while i>200
        250*[i]
    
    for j in range(0,1)
        
        print("The cost for an order of " + str(i) + " widgets is " + "$"+str(j))

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

## Problem 8: Adding Matrices

In [28]:
A = [ [13, 43, 28, 22, 41], [17, 39, 46, 16, 21], [41, 34,31,25,14] ]
B = [ [35, 29, 43, 21, 31], [48, 26, 19,17,23], [32,34,24,16,27] ] 

for row in A:
    print(row)

[13, 43, 28, 22, 41]
[17, 39, 46, 16, 21]
[41, 34, 31, 25, 14]

In [29]:
AplusB = []

for i in range(0,3):
    
    tempRow = []    
    for  j in range(0,5):
        tempRow.append(A[i][j]+B[i][j])
        
    AplusB.append(tempRow)
    
for row in AplusB:
    print(row)

[48, 72, 71, 43, 72]
[65, 65, 65, 33, 44]
[73, 68, 55, 41, 41]