# DSCI503 - Project 1
### Jeffery Boczkaja

# Introduction
The purpose of this project is to parse through global data utilizing the pandas library.

In [1]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Public\Documents\gapminder_data.txt', sep='\t')
df.head(10)

,country,year,continent,population,life_exp,gdp_per_cap,gini
0,Afghanistan,1800,asia,3280000,28.2,603,30.5
1,Albania,1800,europe,410000,35.4,667,38.9
2,Algeria,1800,africa,2500000,28.8,715,56.2
3,Angola,1800,africa,1570000,27.0,618,57.2
4,Antigua and Barbuda,1800,americas,37000,33.5,757,40.0
5,Argentina,1800,americas,534000,33.2,1510,47.7
6,Armenia,1800,europe,413000,34.0,514,31.5
7,Australia,1800,asia,351000,34.0,814,38.7
8,Austria,1800,europe,3210000,34.4,1850,33.4
9,Azerbaijan,1800,europe,880000,29.2,775,70.5

In [2]:
country = df.country.to_list()
year = df.year.to_list()
continent = df.continent.to_list()
population = df.population.to_list()
life_exp = df.life_exp.to_list()
pcgdp = df.gdp_per_cap.to_list()
gini = df.gini.to_list()

In [3]:
print('Country: ', gini[4060])

Country:  28.0

## Part 1: Displaying Past 20 Years of US Data
We will be displaying the population, life expectancy, per capitia GDP, and Gini index for the United States for the years from 1999 on.

In [4]:
print('Year    Country    Population    LExp    pcGDP    Gini')
print('------------------------------------------------------')

for i in range(len(df)):
    if year[i] >= 1999 and country[i] == 'United States':
        print(year[i], 'United States', population[i], life_exp[i], pcgdp[i], gini[i])

Year    Country    Population    LExp    pcGDP    Gini
------------------------------------------------------
1999 United States 279000000 76.8 44700 40.5
2000 United States 282000000 76.9 46000 40.5
2001 United States 285000000 77.0 46000 40.5
2002 United States 288000000 77.1 46400 40.5
2003 United States 290000000 77.3 47300 40.5
2004 United States 293000000 77.5 48600 40.6
2005 United States 295000000 77.7 49800 40.7
2006 United States 298000000 77.9 50600 40.8
2007 United States 301000000 78.1 51000 40.8
2008 United States 303000000 78.3 50400 40.8
2009 United States 306000000 78.6 48600 40.7
2010 United States 309000000 78.7 49400 40.7
2011 United States 311000000 78.8 49800 40.7
2012 United States 313000000 78.9 50500 40.8
2013 United States 316000000 78.9 51000 41.0
2014 United States 318000000 78.9 51800 41.2
2015 United States 320000000 78.8 52800 41.3
2016 United States 322000000 78.8 53300 41.4
2017 United States 324000000 79.0 54200 41.5
2018 United States 327000000 79.1 54900 41.5

## Part 2: Selecting the 2018 Data
We will create six new lists, each of which will contain 2018 for the 184 countries contained in the data.

In [5]:
country_2018 =[]
population_2018 = []
continent_2018 =[]
life_exp_2018 =[]
pcgdp_2018 = []
gini_2018 = []

In [6]:
for i in range(len(year)):
    if year[i]==2018:
        country_2018.append(country[i])
        population_2018.append(population[i])
        continent_2018.append(continent[i])
        life_exp_2018.append(life_exp[i])
        pcgdp_2018.append(pcgdp[i])
        gini_2018.append(gini[i])

In [7]:
global_population_2018 = sum(population_2018)
print("The global population is 2018 was ",global_population_2018)

The global population is 2018 was  7595200200

## Part 3: Identifying Countries with Largest and Smallest Populations
We will be displaying a list of countries with the largest populations and the smallest populations of 2018.

In [8]:
sorted_pop = sorted(population_2018)
print(sorted_pop)

[95200, 103000, 106000, 108000, 109000, 110000, 118000, 180000, 198000, 209000, 282000, 286000, 338000, 382000, 399000, 432000, 434000, 444000, 553000, 568000, 590000, 623000, 629000, 782000, 817000, 832000, 912000, 971000, 1190000, 1270000, 1310000, 1310000, 1320000, 1370000, 1390000, 1570000, 1910000, 1930000, 2070000, 2080000, 2090000, 2160000, 2260000, 2330000, 2590000, 2690000, 2880000, 2900000, 2930000, 2930000, 3120000, 3470000, 3500000, 3910000, 4040000, 4160000, 4160000, 4200000, 4540000, 4740000, 4750000, 4800000, 4830000, 4850000, 4950000, 5050000, 5190000, 5350000, 5400000, 5450000, 5540000, 5750000, 5790000, 5850000, 6090000, 6130000, 6280000, 6410000, 6470000, 6900000, 6960000, 7040000, 7720000, 7990000, 8420000, 8450000, 8540000, 8750000, 8760000, 9110000, 9420000, 9450000, 9540000, 9690000, 9900000, 9920000, 9980000, 10300000, 10600000, 10900000, 11100000, 11100000, 11200000, 11200000, 11500000, 11500000, 11500000, 11700000, 12500000, 12900000, 13100000, 15200000, 15400000, 16200000, 16300000, 16900000, 16900000, 17100000, 17200000, 17600000, 18200000, 18300000, 18400000, 19100000, 19200000, 19600000, 19800000, 21000000, 22300000, 24700000, 24800000, 24900000, 25600000, 26300000, 28900000, 29500000, 29600000, 30500000, 30800000, 32000000, 32400000, 32400000, 32600000, 33600000, 36200000, 36400000, 37000000, 38100000, 39300000, 41500000, 42000000, 44000000, 44300000, 44700000, 46400000, 49500000, 51000000, 51200000, 53900000, 57400000, 59100000, 59300000, 65200000, 66600000, 69200000, 81900000, 82000000, 82300000, 84000000, 96500000, 99400000, 107000000, 108000000, 127000000, 131000000, 144000000, 166000000, 196000000, 201000000, 211000000, 267000000, 327000000, 1350000000, 1420000000]

In [9]:
Large = sorted_pop[-10]
print(Large)

131000000

In [10]:
print("Countries with Largest Populations in 2018")
print("------------------------------------------------------")
print("The population of China in 2018 was 1420000000 .")
print("The population of India 2018 was 1420000000.")

Countries with Largest Populations in 2018
------------------------------------------------------
The population of China in 2018 was 1420000000 .
The population of India 2018 was 1420000000.

In [11]:
print("Countries with Largest Populations in 2018")
print("------------------------------------------------------")

if population[i]>=211000000 and year==2018:
    print("The population of " + country[i] + "in 2018 was" + population[i])

Countries with Largest Populations in 2018
------------------------------------------------------

In [12]:
Small = sorted_pop[9]
print(Small)

209000

In [13]:
print("Countries with Smallest Populations in 2018")
print("------------------------------------------------------")
print("The population of xxxx in 2018 was xxxx.")
print("The population of xxxx in 2018 was xxxx.")

Countries with Smallest Populations in 2018
------------------------------------------------------
The population of xxxx in 2018 was xxxx.
The population of xxxx in 2018 was xxxx.

In [14]:
print("Countries with Smallest Populations in 2018")
print("------------------------------------------------------")

if year[i]==2018 and population[i]<=109000:
    print("The population of " + country[i] + "in 2018 was" + population[i])

Countries with Smallest Populations in 2018
------------------------------------------------------

## Part 4: Identifying Countries with Highest and Lowest Life Expectancies
We will be displaing the countries with the highest and lowest life expectancies of 2018.

In [15]:
sorted_exp = sorted(life_exp_2018)
print(sorted_exp[9])
print(sorted_exp[-10])

60.5
82.4

In [16]:
print("Countries with Highest Life Expectancy in 2018")
print("------------------------------------------------------")

if year[i]==2018 and life_exp[i]>=82.9:
    print("The life expectancy of " + country[i] + "in 2018 was " + life_exp[i])

Countries with Highest Life Expectancy in 2018
------------------------------------------------------

In [17]:
print("Countries with Lowest Life Expectancy in 2018")
print("------------------------------------------------------")

if year[i]==2018 and life_exp[i]<=58.7:
    print("The life expectancy of " + country[i] + "in 2018 was " + life_exp[i])
    print(country[i])

Countries with Lowest Life Expectancy in 2018
------------------------------------------------------

## Part 5: Calculating GDP by Country
We will create a list that contains the GDP for each country in 2018 plus the total GDP for the world combined.

In [18]:
gdp_2018 = []

for i in pcgdp:
    if year == '2018':
        gdp_2018.append(pcgdp_data[i])
        
gdp = "The total global GDP in 2018 was ${}".format(sum(gdp_2018))
print(gdp)

max(gdp_2018)
min(gdp_2018)

print("The country with the highest GDP in 2018 was " country[i] "with a GDP of " gpd_2018[i])
print("The country with the lowest GDP in 2018 was " country[i]  "with a GDP of " gdp_2018

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1072392852.py, line 13)

## Part 6: Grouping by Continent
We will be calculating total population, per capita GDP, and life expectancy for the continental regions.

In [ ]:
continent_name = ['africa','americas','asia','europe']

In [ ]:
pcgdp_2018_by_continent = []
pop_2018_by_continent = []
life_exp_2018_by_continent = []

In [ ]:
temp_life_exp = 0
temp_pop = 0
temp_gdp = 0

In [ ]:
for i in country:
    if continent = "africa":
        sum(life_exp(i))/len(country[i])
        sum(population_2018)
        sum(pcgdp[i])/len(country[i])

In [ ]:
for i in country:
    if continent = "americas"
        sum(life_exp(i))/len(country[i])
        sum(population_2018)
        sum(pcgdp[i])/len(country[i])

In [ ]:
for i in country:
    if continent = "asia"
        sum(life_exp(i))/len(country[i])
        sum(population_2018)
        sum(pcgdp[i])/len(country[i])

In [ ]:
for i in country:
    if continent = "europe"
        sum(life_exp(i))/len(country[i])
        sum(population_2018)
        sum(pcgdp[i])/len(country[i])

In [ ]:
temp_life_exp = temp_life_exp/temp_pop
temp_gdp = temp_gdp / temp_pop

In [ ]:
print("Continent Population pcGDP Life Exp")
print("----------------------------------------------")
print("Africa xxxx xxxx xxxx")
print("Americas xxxx xxxx xxxx")
print("Asia xxxx xxxx xxxx")
print("Europe xxxx xxxx xxxx")